.Habilidades {
  font-family: "Barlow", serif;
  font-weight: 100;
  font-size: 50px;
  font-style: normal;
  color: white;
  text-align: center;
  margin-top: 5%;

  border-bottom: 1px solid var(--border-button-color);
}

.aprendiendo-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  margin-top: 2%;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
  justify-content: center;
}

.aprendiendo-front {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
}

.titulo {
  font-family: "Barlow", serif;
  font-weight: 100;
  font-size: 50px;
  font-style: normal;
  color: white;
  text-align: center;
}

.front {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 15%;
  margin-left: 5rem;
}

.aprendiendo-back {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
}

.back {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 1rem;
  margin-left: 5rem;
}
.aprendiendo-complementos {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
}

.complementos {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 1rem;
  margin-left: 5rem;
}
.material-ui {
  max-width: 100%;
  height: auto;
}

.icon-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 60px;
  grid-template-columns: repeat(3, 1fr);
}

.icon-container-aprendiendo {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 60px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 8rem;
}

.icon-text {
  background-color: aqua;
}

@media (max-width: 1201px) {
  .Habilidades {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 35px;
    font-style: normal;
    color: white;
    text-align: center;
    margin-top: 4rem;
  }

  .aprendiendo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    justify-content: center;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
  }
  .aprendiendo-front {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }

  .titulo {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 50px;
    font-style: normal;
    color: white;
    text-align: center;
  }

  .front {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 1rem;
    margin-left: 0rem;
  }

  .aprendiendo-back {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }

  .back {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 1rem;
    margin-left: 0rem;
  }

  .aprendiendo-complementos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }

  .complementos {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 1rem;
    margin-left: 0rem;
  }

  .material-ui {
    max-width: 100%;
    height: auto;
  }

  .icon-container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 60px;
    grid-template-columns: repeat(3, 1fr);
  }

  .icon-container-aprendiendo {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 60px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 8rem;
  }

  .icon-text {
    background-color: aqua;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .Habilidades {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 30px;
    font-style: normal;
    color: white;
    text-align: center;
    margin-top: 4rem;
  }

  .aprendiendo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    justify-content: center;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
  }
  .aprendiendo-front {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }

  .titulo {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 40px;
    font-style: normal;
    color: white;
    text-align: center;
  }

  .front {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 1rem;
    margin-left: 0rem;
  }

  .aprendiendo-back {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }

  .back {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 1rem;
    margin-left: 0rem;
  }

  .aprendiendo-complementos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }

  .complementos {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 1rem;
    margin-left: 0rem;
  }
  .material-ui {
    max-width: 100%;
    height: auto;
  }

  .icon-container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 60px;
    grid-template-columns: repeat(3, 1fr);
  }

  .icon-container-aprendiendo {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 60px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 8rem;
  }

  .icon-text {
    background-color: aqua;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .Habilidades {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 30px;
    font-style: normal;
    color: white;
    text-align: center;
    margin-top: 4rem;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid var(--border-button-color);
  }

  .aprendiendo-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
  }
  .aprendiendo-front {
    display: inline-block;
    width: 100%;
  }

  .titulo {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 40px;
    font-style: normal;
    color: white;
    text-align: center;
  }

  .front {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 12%;
    margin-top: 1rem;
  }

  .aprendiendo-back {
    display: inline-block;
    width: 100%;
  }

  .back {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    margin-left: 12%;
    margin-top: 1rem;
  }

  .aprendiendo-complementos {
    display: inline-block;
    width: 100%;
    margin-left: 60%;
  }

  .complementos {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: 15%;
  }
  .material-ui {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .Habilidades {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 30px;
    font-style: normal;
    color: white;
    text-align: center;
    margin-top: 4rem;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid var(--border-button-color);
  }

  .aprendiendo-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 0%;
    margin-bottom: 10%;
    padding-bottom: 0rem;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
  }
  .titulo {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 40px;
    font-style: normal;
    color: white;
    text-align: center;
    width: 100%;
  }
  .front {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 1rem;
  }

  .aprendiendo-back {
    display: inline-block;
    width: 100%;
  }

  .back {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
  }

  .aprendiendo-complementos {
    display: inline-block;
    width: 100%;
  }

  .complementos {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .Habilidades {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 30px;
    font-style: normal;
    color: white;
    text-align: center;
    margin-top: 4rem;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid var(--border-button-color);
  }

  .aprendiendo-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 5%;
    margin-bottom: 10%;
    padding-bottom: 0rem;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
  }
  .titulo {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 35px;
    font-style: normal;
    color: white;
    text-align: center;
    width: 100%;
  }
  .front {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 1rem;
  }

  .aprendiendo-back {
    display: inline-block;
    width: 100%;
  }

  .back {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 1rem;
  }

  .aprendiendo-complementos {
    display: inline-block;
    width: 100%;
  }

  .complementos {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 1rem;
  }
}
