:root {
  --primary-bg-color: #01081f;
  --border-color: rgb(126, 126, 126);
  --contact-padding: 10px;
  --footer-bg-color: #01081f;
  --primary-bg-color-light: #ffffff;
  --border-color-light: rgb(200, 200, 200);
  --footer-bg-color-light: #f1f1f1;
  --text-color: #ffffff;
  --text-color-light: #000000;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-bg-color);
  transition: background-color 0.3s ease;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
}

.navbar.dark-mode {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

.navbar a {
  color: var(--text-color);
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  align-items: center;
  font-family: "Barlow", serif;
  font-weight: 100;
  font-size: 20px;
  font-style: normal;
}
.floating-bubble {
  display: none;
}

@media (max-width: 1201px) {
  .navbar {
    align-items: center;
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 20px;
    font-style: normal;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-bg-color);
    transition: background-color 0.3s ease;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
  }
  .navbar.dark-mode {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
  }

  .navbar a {
    color: var(--text-color);
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    align-items: center;
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 20px;
    font-style: normal;
  }
  .floating-bubble {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .navbar {
    align-items: center;
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 20px;
    font-style: normal;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-bg-color);
    transition: background-color 0.3s ease;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
  }
  .navbar.dark-mode {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
  }

  .navbar a {
    color: var(--text-color);
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    align-items: center;
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 20px;
    font-style: normal;
  }
  .floating-bubble {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .floating-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 12%;
    left: -15px;
    width: 12%;
    padding-left: 10px;
    height: 60px;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 80px;
    background-color: var(--primary-bg-color);
    transition: background-color 0.3s ease;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
  }
  .navbar.dark-mode {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
  }
  .nav-links {
    display: none;
    gap: 2rem;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color: var(--primary-bg-color);
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 1000;
    align-items: start;
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 1.5rem;
    font-style: normal;
    border: 1px solid var(--border-color);
    border-radius: 1% 4% 4% 1%;
  }
  .nav-links.open {
    display: flex;
    margin: 0;
    padding: 1rem;
  }
  .nav-links li {
    text-align: center;
  }

  .navbar a {
    color: var(--text-color);
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  .close-button button {
    background-color: white;
    color: red;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .floating-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 12%;
    left: -15px;
    width: 12%;
    padding-left: 10px;
    height: 60px;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 80px;
    background-color: var(--primary-bg-color);
    transition: background-color 0.3s ease;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
  }
  .navbar.dark-mode {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
  }
  .nav-links {
    display: none;
    gap: 1rem;
    flex-direction: column;
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 1000;
    align-items: start;
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 1.5rem;
    font-style: normal;
    border: 0px solid #1c6ea4;
    background-color: var(--primary-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 1% 4% 4% 1%;
  }
  .nav-links.open {
    display: flex;
    margin: 0;
    padding: 1rem;
  }
  .nav-links li {
    text-align: center;
  }

  .navbar a {
    color: var(--text-color);
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  .close-button button {
    background-color: white;
    color: red;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .floating-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 12%;
    left: -5%;
    width: 20%;
    padding-left: 5%;
    height: 7%;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 80px;
    background-color: var(--primary-bg-color);
    transition: background-color 0.3s ease;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
  }
  .navbar.dark-mode {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
  }
  .nav-links {
    display: none;
    gap: 1rem;
    flex-direction: column;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 1000;
    align-items: start;
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 1.5rem;
    font-style: normal;
    border: 0px solid #1c6ea4;
    background-color: var(--primary-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 1% 4% 4% 1%;
  }
  .nav-links.open {
    display: flex;
    margin: 0;
    padding: 1rem;
  }
  .nav-links li {
    text-align: center;
  }

  .navbar a {
    color: var(--text-color);
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  .close-button button {
    background-color: white;
    color: red;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
  }
}
