:root {
  --primary-bg-color: #01081f;
  --secondary-color: #020024;
  --accent-color: #20dad8;
  --text-color: white;
  --border-color: #020024;
  --border-button-color: rgb(126, 126, 126);
  --available-bg-color: #128334;
  --available-text-color: white;
}

.presentacion-container {
  width: 100%;
  height: 100%;
  color: var(--text-color);
  margin-top: 3rem;

  border-bottom: 1px solid var(--border-button-color);
}

.presentacion-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 20%;
  margin-bottom: 8.6%;
}

.mi-presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 5%;
}

.download-button {
  width: 25px;
}

.cv {
  display: flex;
  align-items: center;
}

.text-container {
  width: 580px;
  height: 110px;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  font-family: "Barlow", serif;
  font-weight: 100;
  font-size: 50px;
  font-style: normal;
  color: var(--accent-color);
}

.imagen {
  margin-left: 50%;
}

.perfilImg {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-color: var(--primary-bg-color);
}

.imagen-perfil {
  width: 100%;
  height: 100%;
}

.nombre,
.profesion {
  font-family: "Barlow", serif;
  font-weight: 100;
  font-style: normal;
}

.nombre {
  font-size: 50px;
}

.profesion {
  font-size: 100px;
}

.redes {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
}

.disponible {
  background-color: var(--available-bg-color);
  color: var(--available-text-color);
  font-family: "Barlow", serif;
  font-weight: 100;
  font-size: 15px;
  font-style: normal;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  margin-top: 2%;
  padding-left: 10px;
  display: flex;
}

.unlock-icon {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

@media (max-width: 1201px) {
  .presentacion-container {
    width: 100%;
    height: 100%;
    color: white;
  }

  .presentacion-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 8.6%;
  }

  .mi-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }
  .download-button {
    width: 25px;
  }

  .cv {
    display: flex;
    align-items: center;
  }

  .text-container {
    width: 480px;
    height: 100px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 40px;
    font-style: normal;
    color: #20dad8;
  }

  .imagen {
    margin: 0px;
  }

  .perfilImg {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid #020024;
    background-color: #01081f;
  }

  .imagen-perfil {
    width: 100%;
    height: 100%;
  }

  .nombre {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 50px;
    font-style: normal;
  }

  .profesion {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 90px;
    font-style: normal;
  }

  .redes {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
  }

  .disponible {
    background-color: #128334;
    color: rgb(255, 255, 255);
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 15px;
    font-style: normal;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 200px;

    padding-left: 10px;
    display: flex;
  }

  .unlock-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .presentacion-container {
    width: 100%;
    height: 100%;
    color: white;
  }

  .presentacion-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 8.6%;
  }

  .mi-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
    width: 100%;
    height: 100%;
  }
  .download-button {
    width: 25px;
  }

  .cv {
    display: flex;
    align-items: center;
  }

  .text-container {
    width: 100%;
    height: 100px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 40px;
    font-style: normal;
    color: #20dad8;
  }

  .imagen {
    margin: 0px;
  }

  .perfilImg {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid #020024;
    background-color: #01081f;
  }

  .imagen-perfil {
    width: 100%;
    height: 100%;
  }

  .nombre {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 50px;
    font-style: normal;
  }

  .profesion {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 90px;
    font-style: normal;
  }

  .redes {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
  }

  .disponible {
    background-color: #128334;
    color: rgb(255, 255, 255);
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 15px;
    font-style: normal;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 200px;
    margin-top: 15%;
    padding-left: 10px;
    display: flex;
  }

  .unlock-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .presentacion-container {
    width: 100%;
    height: 100%;
    color: white;
  }

  .presentacion-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
  }

  .mi-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
  }
  .download-button {
    width: 25px;
  }

  .cv {
    display: flex;
    align-items: center;
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 20px;
    font-style: normal;
  }

  .text-container {
    width: 410px;
    height: 100px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 40px;
    font-style: normal;
    color: #20dad8;
  }

  .imagen {
    margin: 0px;
  }

  .perfilImg {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid #020024;
    background-color: #01081f;
  }

  .imagen-perfil {
    width: 100%;
    height: 100%;
  }

  .nombre {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 50px;
    font-style: normal;
  }

  .profesion {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 75px;
    font-style: normal;
  }

  .redes {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
  }

  .disponible {
    background-color: #128334;
    color: rgb(255, 255, 255);
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 20px;
    font-style: normal;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 20rem;
    margin-top: 10%;
    padding-left: 10px;
    display: flex;
  }

  .unlock-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .presentacion-container {
    width: 100%;
    height: 100%;
    color: white;
    margin-bottom: 10%;
  }

  .presentacion-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1%;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 8.7%;
  }

  .mi-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
  }
  .download-button {
    width: 25px;
  }

  .cv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-container {
    width: 500px;
    height: 100px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 45px;
    font-style: normal;
    color: #20dad8;
    text-align: center;
    margin-left: 1%;
  }

  .imagen {
    margin: 0px;
  }

  .perfilImg {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid #020024;
    background-color: #01081f;
  }

  .imagen {
    margin: 0px;
  }
  .nombre {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 50px;
    font-style: normal;
    text-align: center;
  }

  .profesion {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 80px;
    font-style: normal;
    text-align: center;
  }

  .redes {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
  }

  .disponible {
    background-color: #128334;
    color: rgb(255, 255, 255);
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 1.3rem;
    font-style: normal;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 22rem;
    margin-top: 5%;
    padding-left: 10px;
    display: flex;
  }

  .unlock-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .presentacion-container {
    width: 100%;
    height: 100%;
    color: white;
    margin-bottom: 10%;
  }

  .presentacion-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1%;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 8.7%;
  }

  .mi-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
  }
  .download-button {
    width: 25px;
  }

  .cv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-container {
    width: 400px;
    height: 100px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 30px;
    font-style: normal;
    color: #20dad8;
    text-align: center;
    margin-left: 1%;
  }

  .imagen {
    margin: 0px;
  }

  .perfilImg {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid #020024;
    background-color: #01081f;
  }

  .imagen {
    margin: 0px;
  }
  .nombre {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 30px;
    font-style: normal;
    text-align: center;
  }

  .profesion {
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 30px;
    font-style: normal;
    text-align: center;
  }

  .redes {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
  }

  .disponible {
    background-color: #128334;
    color: rgb(255, 255, 255);
    font-family: "Barlow", serif;
    font-weight: 100;
    font-size: 1.3rem;
    font-style: normal;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 70%;
    margin-top: 5%;
    padding-left: 10px;
    display: flex;
  }

  .unlock-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
}
