:root {
  --primary-bg-color: #01081f;
  --border-color: rgb(126, 126, 126);

  --contact-padding: 10px;
}

.portafolio {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "main" "footer";
  background-color: var(--primary-bg-color);
}

.main {
  grid-area: main;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: auto;
}

.footer {
  grid-area: footer;
  height: 100%;
  width: 100%;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--contact-padding);
}

.presentacion,
.habilidades,
.proyectos {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px),
  (min-width: 481px) and (max-width: 768px),
  (min-width: 769px) and (max-width: 1024px),
  (min-width: 1025px) and (max-width: 1200px),
  (min-width: 1201px) {
  .portafolio {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "main" "footer";
  }

  .main {
    grid-area: main;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: auto;
    background-color: var(--primary-bg-color);
  }

  .footer {
    grid-area: footer;
    background-color: var(--footer-bg-color);
    width: 100%;
  }

  .contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .presentacion,
  .habilidades,
  .proyectos {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20%;
    width: 100%;
  }
}
