:root {
  --primary-bg-color: #01081f;
  --text-color: white;
  --primary-bg-color-light: #e1e8fe;
  --text-color-light: #4774b8;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
  color: var(--text-color);
}

body.dark-mode {
  --primary-bg-color: #e1e8fe;
  --text-color: #4774b8;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
